* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 12px;
  font-family: "microsoft yahei";
  word-break: break-all;
}
img {
  border: none;
}
a:focus {
  outline: none;
}
i,
em {
  font-style: normal;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearn {
  background: none;
  border: 0;
  clear: both;
  display: block;
  float: none;
  font-size: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.borer_red {
  border-color: #e03a3c!important;
}
